.idea
idea
.DS_Store
.env.dev
.env
celerybeat-schedule
PyWhatKit_DB.txt


*.egg-info/
.installed.cfg
*.egg

back-media
back-static
postgres_data

dist
db.sqlite3
sqlite.db
venv

__pycache__/
*/__pycache__/
*.py[cod]
.pyc
*.pyc

!*media/.gitkeep
media/*
!apps/*/migrations/__init__.py
apps/*/migrations/*

log/debug.log

build
doc
home.rst
make.bat
Makefile

doc-dev

*.log
.log

private.pub
public
/.vscode

# Celery Beat schedule file
celerybeat-schedule
/celerybeat-schedule

